.env
.env.local
.env.*.local

*.pyc
__pycache__/

.venv/
venv/

logs/

.vscode/
.git
.gitignore

notebooks/
scripts/

data/backup/
data/novels_db.db

requirements_dev.txt

src/demo_database.py

.DS_Store